<form [formGroup]="collectForm" (ngSubmit)="onSubmit()" class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-lg">
  
    <!-- Waste Type -->
    <div class="mb-4 w-full">
        <label class="block text-gray-700 font-bold mb-2">Type de Déchet:</label>
        <div *ngFor="let type of wasteTypes" class="flex flex-wrap items-center space-x-2 mb-2 w-full">
          <input 
            type="checkbox" 
            [value]="type" 
            (change)="onCheckboxChange($event, type)" 
            [checked]="selectedWasteTypes.includes(type)"
            class="hidden peer"
            [id]="type"
          />
          <label 
            [for]="type" 
            class="px-4 py-2 w-full text-center max-w-1/2 mx-auto border rounded-lg cursor-pointer peer-checked:bg-blue-500 peer-checked:text-white">
            {{ type }}
          </label>
        </div>        
      <span class="ml-2 text-red-500 text-sm font-medium"
                  *ngIf="getErrorMessage('wasteType')"
                  >
                  {{ "Type de Dechet " + getErrorMessage('wasteType') }}
    </span>
    </div>
  
  
    <!-- Estimated Weight -->
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Poids Estimé (g) :</label>
      <input type="number" formControlName="estimatedWeight" min="1000" class="w-full p-2 border rounded-lg" />
      <span class="ml-2 text-red-500 text-sm font-medium"
            *ngIf="getErrorMessage('estimatedWeight')"
            >
            {{ "Poids " + getErrorMessage('estimatedWeight') }}
        </span>
    </div>
  
  
  
    <!-- Date -->
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Date de Collecte:</label>
      <input type="date" formControlName="date" class="w-full p-2 border rounded-lg" />
      <span class="ml-2 text-red-500 text-sm font-medium"
            *ngIf="getErrorMessage('date')"
            >
            {{ "Date " + getErrorMessage('date') }}
        </span>
    </div>
  
    <!-- Time Slot -->
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Créneau Horaire:</label>
      <input type="time" formControlName="timeSlot" class="w-full p-2 border rounded-lg" />
      <span class="ml-2 text-red-500 text-sm font-medium"
            *ngIf="getErrorMessage('timeSlot')"
            >
            {{ "Créneau Horaire " + getErrorMessage('timeSlot') }}
        </span>
    </div>
  
    <!-- Photo Upload -->
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Ajouter une photo :</label>
      <input type="file" (change)="onFileSelected($event)" class="w-full p-2 border rounded-lg" />
      <span class="ml-2 text-red-500 text-sm font-medium"
      *ngIf="photos.invalid && isSubmitted">
        Une photo est requise.
        </span>

    </div>
  
    <!-- Affichage des photos -->
    <div class="mb-4" *ngIf="photos.controls.length > 0">
      <label class="block text-gray-700 font-bold mb-2">Photos Sélectionnées :</label>
      <div class="grid grid-cols-3 gap-2">
        <div *ngFor="let photo of photos.controls; let i = index" class="relative">
          <img [src]="photo.value" class="w-full h-24 object-cover rounded-lg shadow-md">
          <button type="button" (click)="removePhoto(i)" class="absolute top-0 right-0 bg-red-600 text-white px-2 py-1 text-xs rounded-full">X</button>
        </div>
      </div>
    </div>
  
    <!-- Notes -->
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Notes:</label>
      <textarea formControlName="note" class="w-full p-2 border rounded-lg"></textarea>
      <span class="ml-2 text-red-500 text-sm font-medium"
            *ngIf="getErrorMessage('note')"
            >
            {{ "Notes " + getErrorMessage('note') }}
        </span>
    </div>
  
    <!-- Submit Button -->
    <button type="submit"  class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700">
      Soumettre
    </button>
  
  </form>
  