<!-- Navbar -->
<nav class="bg-gray-200 shadow shadow-gray-300  px-8 md:px-auto mb-10">
	<div class="md:h-16 w-full h-28 mx-auto md:px-4 container flex items-center justify-between flex-wrap md:flex-nowrap">
		<!-- Logo -->
		<div class="text-green-500 md:order-1">
			Green Collect
		</div>
		<div class="text-gray-500 order-3 w-full md:w-auto md:order-2">
			<ul class="flex font-semibold justify-between">
				<li class="md:px-4 md:py-2 hover:text-green-500"><a  href="/">Accueil</a></li>
				<li class="md:px-4 md:py-2 hover:text-green-500"><a  href="/profile">Profile</a></li>
			</ul>
		</div>
		<div   class="order-2 md:order-3">
			<button routerLink="/collect/list" class="px-4 py-2 bg-green-500 hover:bg-green-600 text-gray-50 rounded-xl flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span>returner a la list</span>
        </button>
		</div>
       
	</div>
</nav>

<form [formGroup]="collectForm" (ngSubmit)="onSubmit()" class=" px-10 bg-white p-6 rounded-lg shadow-lg">
  <div *ngIf="error$ | async as error">
    <app-toast-alert type="error" [message]="error"></app-toast-alert>
</div>

  <!-- Waste Type -->
    <div class="mb-4 w-full">
        <label class="block text-gray-700 font-bold mb-2">Type de Déchet:</label>
        <div *ngFor="let type of wasteTypes" class="flex flex-wrap items-center space-x-2 mb-2 w-full">
          <input 
            type="checkbox" 
            [value]="type" 
            (change)="onCheckboxChange($event, type)" 
            [checked]="selectedWasteTypes.includes(type)"
            class="hidden peer"
            [id]="type"
          />
          <label 
            [for]="type" 
            class="px-4 py-2 w-full text-center max-w-1/2 mx-auto border rounded-lg cursor-pointer peer-checked:bg-blue-500 peer-checked:text-white">
            {{ type }}
          </label>
        </div>        
      <span class="ml-2 text-red-500 text-sm font-medium"
                  *ngIf="getErrorMessage('wasteType')"
                  >
                  {{ "Type de Dechet " + getErrorMessage('wasteType') }}
    </span>
    </div>
  
  
    <!-- Estimated Weight -->
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Poids Estimé (g) :</label>
      <input type="number" formControlName="estimatedWeight" min="1000" class="w-full p-2 border rounded-lg" />
      <span class="ml-2 text-red-500 text-sm font-medium"
            *ngIf="getErrorMessage('estimatedWeight')"
            >
            {{ "Poids " + getErrorMessage('estimatedWeight') }}
        </span>
    </div>
  
  
  
    <!-- Date -->
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Date de Collecte:</label>
      <input type="date" formControlName="date" class="w-full p-2 border rounded-lg" />
      <span class="ml-2 text-red-500 text-sm font-medium"
            *ngIf="getErrorMessage('date')"
            >
            {{ "Date " + getErrorMessage('date') }}
        </span>
    </div>
  
    <!-- Time Slot -->
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Créneau Horaire:</label>
      <input type="time" formControlName="timeSlot" class="w-full p-2 border rounded-lg" />
      <span class="ml-2 text-red-500 text-sm font-medium"
            *ngIf="getErrorMessage('timeSlot')"
            >
            {{ "Créneau Horaire " + getErrorMessage('timeSlot') }}
        </span>
    </div>
  
    <!-- Photo Upload -->
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Ajouter une photo :</label>
      <input type="file" (change)="onFileSelected($event)" class="w-full p-2 border rounded-lg" />
      <span class="ml-2 text-red-500 text-sm font-medium"
      *ngIf="photos.invalid && isSubmitted">
        Une photo est requise.
        </span>

    </div>
  
    <!-- Affichage des photos -->
    <div class="mb-4" *ngIf="photos.controls.length > 0">
      <label class="block text-gray-700 font-bold mb-2">Photos Sélectionnées :</label>
      <div class="grid grid-cols-3 gap-2">
        <div *ngFor="let photo of photos.controls; let i = index" class="relative w-48 h-48">
          <img [src]="photo.value" class="w-48 h-48 object-cover rounded-lg shadow-md">
          <button type="button" (click)="removePhoto(i)" class="cursor-pointer absolute top-0 right-0 bg-red-600 text-white px-2 py-1 text-xs rounded-full">X</button>
        </div>
      </div>
    </div>
  
    <!-- Notes -->
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Notes:</label>
      <textarea formControlName="note" class="w-full p-2 border rounded-lg"></textarea>
      <span class="ml-2 text-red-500 text-sm font-medium"
            *ngIf="getErrorMessage('note')"
            >
            {{ "Notes " + getErrorMessage('note') }}
        </span>
    </div>
  
    <!-- Submit Button -->
    <button type="submit"  class=" cursor-pointer w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700">
      Soumettre
    </button>
  
  </form>

<app-footer></app-footer>
  