<div class="background-container flex items-center justify-center h-screen w-full px-4 sm:px-8 md:px-12 lg:px-16 overflow-hidden bg-cover" 
     style="background-image: url('assets/imgs/background.webp');">
 
  <div class="scrollbar-hide w-full h-[100vh] overflow-y-auto p-6 rounded-lg shadow-lg scrollbar-thin">
    <div class="max-w-md sm:max-w-lg md:max-w-md items-center mx-auto">
      <div class="bg-white shadow-xl hover:shadow-2xl rounded-lg px-6 sm:px-8 pt-6 pb-8 flex justify-center items-center w-full">
        <div class="flex flex-col gap-6 justify-center items-center mb-2">
          <h1 class="text-2xl font-bold mb-4">Créer un compte</h1>
          <div *ngIf="error$ | async as error">
              <app-toast-alert type="error" [message]="error"></app-toast-alert>
          </div>
          <div *ngIf="success$ | async as msg">
              <app-toast-alert type="success" [message]='msg' link="/auth/login" linkText="Se connecter"></app-toast-alert> 
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="scrollbar-hide ">
            <div class="flex -mx-3" formGroupName="fullName">
              <div class="w-1/2 px-3 mb-5">
                <label for="" class="text-xs font-semibold px-1">Prénom</label>
                <div class="flex">
                  <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-account-outline text-gray-400 text-lg"></i></div>
                  <input type="text" formControlName="firstName" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="John">
                </div>
                <span class="ml-2 text-red-500 text-sm font-medium"
                      *ngIf="getErrorMessage('fullName.firstName')">
                  {{ "Prénom " + getErrorMessage('fullName.firstName') }}
                </span>
              </div>
              <div class="w-1/2 px-3 mb-5">
                <label for="" class="text-xs font-semibold px-1">Nom</label>
                <div class="flex">
                  <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-account-outline text-gray-400 text-lg"></i></div>
                  <input type="text" formControlName="lastName" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Smith">
                </div>
                <span class="ml-2 text-red-500 text-sm font-medium"
                      *ngIf="getErrorMessage('fullName.lastName')">
                  {{ "Nom " + getErrorMessage('fullName.lastName') }}
                </span>
              </div>
            </div>

            <div class="flex -mx-3">
              <div class="w-1/2 px-3 mb-5">
                <label for="" class="text-xs font-semibold px-1">Numéro de téléphone</label>
                <div class="flex">
                  <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-phone-outline text-gray-400 text-lg"></i></div>
                  <input type="tel" formControlName="phone" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="0102030405">
                </div>
                <span class="ml-2 text-red-500 text-sm font-medium"
                      *ngIf="getErrorMessage('phone')">
                  {{ "Numéro de téléphone " + getErrorMessage('phone') }}
                </span>
              </div>
              <div class="w-1/2 px-3 mb-5">
                <label for="" class="text-xs font-semibold px-1">Date de naissance</label>
                <div class="flex">
                  <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-calendar-outline text-gray-400 text-lg"></i></div>
                  <input type="date" formControlName="birthday" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500">
                </div>
                <span class="ml-2 text-red-500 text-sm font-medium"
                      *ngIf="getErrorMessage('birthday')">
                  {{ "Date de naissance " + getErrorMessage('birthday') }}
                </span>
              </div>
            </div>

            <div class="flex -mx-3" formGroupName="address">
              <div class="w-1/2 px-3 mb-5">
                <label for="" class="text-xs font-semibold px-1">Ville</label>
                <div class="flex">
                  <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-city text-gray-400 text-lg"></i></div>
                  <input type="text" formControlName="city" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Paris">
                </div>
                <span class="ml-2 text-red-500 text-sm font-medium"
                      *ngIf="getErrorMessage('address.city')">
                  {{ "Ville " + getErrorMessage('address.city') }}
                </span>
              </div>
              <div class="w-1/2 px-3 mb-5">
                <label for="" class="text-xs font-semibold px-1">Code postal</label>
                <div class="flex">
                  <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-pin-outline text-gray-400 text-lg"></i></div>
                  <input type="text" formControlName="zipcode" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="75001">
                </div>
                <span class="ml-2 text-red-500 text-sm font-medium"
                      *ngIf="getErrorMessage('address.zipcode')">
                  {{ "Code postal " + getErrorMessage('address.zipcode') }}
                </span>
              </div>
            </div>

            <div class="flex -mx-3">
              <div class="w-full px-3 mb-5">
                <label for="" class="text-xs font-semibold px-1">Email</label>
                <div class="flex">
                  <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-email-outline text-gray-400 text-lg"></i></div>
                  <input type="email" formControlName="email" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="exemple@mail.com">
                </div>
                <span class="ml-2 text-red-500 text-sm font-medium"
                      *ngIf="getErrorMessage('email')">
                  {{ "Email " + getErrorMessage('email') }}
                </span>
              </div>
            </div>

            <div class="flex -mx-3">
              <div class="w-full px-3 mb-12">
                <label for="" class="text-xs font-semibold px-1">Mot de passe</label>
                <div class="flex">
                  <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-lock-outline text-gray-400 text-lg"></i></div>
                  <input type="password" formControlName="password" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="********">
                </div>
                <span class="ml-2 text-red-500 text-sm font-medium"
                      *ngIf="getErrorMessage('password')">
                  {{ "Mot de passe " + getErrorMessage('password') }}
                </span>
              </div>

              <div class="w-full px-3 mb-12">
                <label for="" class="text-xs font-semibold px-1">Confirmer le mot de passe</label>
                <div class="flex">
                  <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-lock-outline text-gray-400 text-lg"></i></div>
                  <input type="password" formControlName="confirmPassword" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="********">
                </div>
                <span class="ml-2 text-red-500 text-sm font-medium"
                      *ngIf="getErrorMessage('confirmPassword')">
                  {{ "Confirmation du mot de passe " + getErrorMessage('confirmPassword') }}
                </span>
              </div>
            </div>

            <div class="flex -mx-3">
              <div class="w-full px-3 mb-5">
                <button class="block w-full max-w-xs mx-auto bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold">S'INSCRIRE</button>
              </div>
            </div>
          </form>

          <div class="flex flex-col justify-center items-center px-10 mt-2">
            <span class="text-xs">Vous avez déjà un compte? <span routerLink="/auth/login" class="text-blue-800 hover:underline cursor-pointer"> Se connecter</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>     
</div>
