<!-- component -->
<div class="h-screen md:flex">
	<div
		class="relative overflow-hidden md:flex w-1/2 bg-gradient-to-tr from-blue-800 to-purple-700 i justify-around items-center hidden">
		<div>
			<h1 class="text-white font-bold text-4xl font-sans">GoFinance</h1>
			<p class="text-white mt-1">The most popular peer to peer lending at SEA</p>
			<button type="submit" class="block w-28 bg-white text-indigo-800 mt-4 py-2 rounded-2xl font-bold mb-2">Read More</button>
		</div>
		<div class="absolute -bottom-32 -left-40 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
		<div class="absolute -bottom-40 -left-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
		<div class="absolute -top-40 -right-0 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
		<div class="absolute -top-20 -right-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
	</div>
	<div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
		<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="bg-white p-6 rounded-lg shadow-md">
      <h1 class="text-gray-800 font-bold text-2xl mb-1">Hello Again!</h1>
      <p class="text-sm font-normal text-gray-600 mb-4">Welcome Back</p>
    
      <div class="flex space-x-4" formGroupName="fullName">
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4 w-full" >
          <input class="pl-2 outline-none border-none w-full" type="text" formControlName="firstName" placeholder="First Name" />
        </div>
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4 w-full">
          <input class="pl-2 outline-none border-none w-full" type="text" formControlName="lastName" placeholder="Last Name" />
        </div>
      </div>
      
      <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
        <input class="pl-2 outline-none border-none w-full" type="email" formControlName="email" placeholder="Email Address" />
      </div>
    
      <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
        <input class="pl-2 outline-none border-none w-full" type="tel" formControlName="phone" placeholder="Phone Number" />
      </div>
    
      <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
        <input class="pl-2 outline-none border-none w-full" type="date" formControlName="birthday" placeholder="Birthday" />
      </div>
      
      <div class="flex space-x-4">
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4 w-full">
          <input class="pl-2 outline-none border-none w-full" type="text" formControlName="address" placeholder="Address" />
        </div>
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4 w-full">
          <input class="pl-2 outline-none border-none w-full" type="text" formControlName="city" placeholder="City" />
        </div>
      </div>
    
      <div class="flex space-x-4">
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4 w-full">
          <input class="pl-2 outline-none border-none w-full" type="password" formControlName="password" placeholder="Password" />
        </div>
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4 w-full">
          <input class="pl-2 outline-none border-none w-full" type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
        </div>
      </div>
    
      <button type="submit" class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold">Register</button>
      <p class="text-sm mt-2 text-gray-600">Already have an account? <a href="#" class="text-blue-500">Sign In</a></p>
    </form>
	</div>
</div>