<!-- Navbar -->
<nav class="bg-gray-200 shadow shadow-gray-300  px-8 md:px-auto">
	<div class="md:h-16 w-full h-28 mx-auto md:px-4 container flex items-center justify-between flex-wrap md:flex-nowrap">
		<!-- Logo -->
		<div class="text-green-500 md:order-1">
			Green Collect
		</div>
		<div class="text-gray-500 order-3 w-full md:w-auto md:order-2">
			<ul class="flex font-semibold justify-between">
				<li class="md:px-4 md:py-2 hover:text-green-500"><a  href="/">Accueil</a></li>
				<li class="md:px-4 md:py-2 hover:text-green-500"><a  href="/profile">Profile</a></li>
			</ul>
		</div>
		<div *ngIf="isClient"  class="order-2 md:order-3">
			<button routerLink="/collect/list" class="px-4 py-2 bg-green-500 hover:bg-green-600 text-gray-50 rounded-xl flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span>returner a la list</span>
        </button>
    </div>
        <div *ngIf="!isClient"  class="order-2 md:order-3">
			<button routerLink="/collect/requests/list" class="px-4 py-2 bg-green-500 hover:bg-green-600 text-gray-50 rounded-xl flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span>Requests</span>
        </button>
		</div>
	
</div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>