<div class="mx-auto container py-8">

    <div class="flex flex-wrap items-center justify-center gap-28">
      
<div *ngFor=" let collect of collectRequests" class="focus:outline-none mx-2 w-72 xl:mb-0 mb-8 hover:shadow-lg ">
    <div >
        <img [src]=""
        (error)="handleError($event)"
        alt="Image de collecte"
        class="focus:outline-none w-full h-44" />
   

    </div>
    <div class="bg-white">
        <div class="flex items-center justify-between px-4 pt-4">
            <div>
               
            </div>
            <div class="bg-yellow-200 py-1.5 px-6 rounded-full">
                <p tabindex="0" class="focus:outline-none text-xs text-yellow-700">{{collect?.status}}</p>
            </div>
        </div>
        <div class="p-4">
            <div class="flex items-center">
                <h2 tabindex="0" class="focus:outline-none text-lg font-semibold">{{collect?.wasteType}}</h2>
                <p tabindex="0" class="focus:outline-none text-xs text-gray-600 pl-5">{{collect?.date}}</p>
            </div>
            <p tabindex="0" class="focus:outline-none text-xs text-gray-600 mt-2">{{collect?.note}}</p>
            <div class="flex mt-4">
                <div>
                    <p tabindex="0" class="focus:outline-none text-xs text-gray-600 px-2 bg-gray-200 py-1">{{collect?.timeSlot}}</p>
                </div>
                <div class="pl-2">
                    <p tabindex="0" class="focus:outline-none text-xs text-gray-800 px-2 bg-gray-200 py-1">weight :{{collect?.estimatedWeight}}</p>
                </div>
            </div>
            <div class="flex items-center justify-between py-4">
                <h2 tabindex="0" class="focus:outline-none text-indigo-700 text-xs font-semibold">{{collect?.address?.zipecode}}, {{collect?.address?.city}}</h2>
                <button  class=" cursor-pointer bg-red-200 border border-red-500 px-2 py-1 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 flex items-center text-red-500 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
    </div>
  </div>
  