<div class="mx-auto container py-8">
    <div class="flex flex-wrap gap-8 justify-center">
      <table class="min-w-full table-auto bg-white rounded-lg shadow-md">
        <thead class="bg-gray-200">
          <tr>
            <th class="p-4 text-center">Client</th>
            <th class="p-4 text-center">Waste Type</th>
            <th class="p-4 text-center">Status</th>
            <th class="p-4 text-center">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let collect of collectRequests">
                <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                        <div class="flex-shrink-0 h-10 w-10">
                            <img class="h-10 w-10 rounded-full" 
                                [src]="photoUrl(collect.user)"
                                (error)="handleError($event)" alt="">
                        </div>
                        <div class="ml-4">
                            <div class="text-sm font-medium text-gray-900">
                                {{ collect.user.fullName.firstName }} {{ collect.user.fullName.lastName }}
                            </div>
                            <div class="text-sm text-gray-500">
                                {{ collect.user.email }}
                            </div>
                        </div>
                    </div>
                </td>
            <td class="p-4 text-center ">{{ collect.wasteType }}</td>
            <td class="p-4 text-center">
              <span
                [ngClass]="
                collect.status === 'En attente' ? 'bg-yellow-400' :
                collect.status === 'Occupée' ? 'bg-gray-500' :
                collect.status === 'En cours' ? 'bg-blue-300' :
                collect.status === 'Validée' ? 'bg-green-300' :
                collect.status === 'Rejetée' ? 'bg-red-300' :
                ''"
                class="px-3 py-1 rounded-full text-white"
              >
                {{ collect.status }}
              </span>
            </td>
            <td class="p-4 text-center space-x-2">
              <button (click)="openPopup(collect)" class= "cursor-pointer bg-blue-500 text-white px-3 py-1 rounded-lg">Read More</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="popupVisible" class="h-screen w-full animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none  " >
        <div class="absolute bg-black opacity-80 inset-0 z-0"></div>
     <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white">
        <div *ngIf="error$ | async as error" class="flex justify-center w-full">
            <app-toast-alert type="error" [message]='error'></app-toast-alert> 
          </div>
          <div *ngIf="successMessage$ | async as msg" class="flex justify-center w-full">
            <app-toast-alert [closeAble]="true" type="success" [message]='msg'></app-toast-alert> 
          </div>
          <h2 class="text-xl font-semibold mb-4">Collect Details</h2>
          
          <!-- Display Images if available -->
          <div class="mb-4" *ngIf="selectedCollect?.photos">
            <strong>Photos:</strong>
            <div class="flex flex-wrap space-x-4">
                <img *ngFor="let photo of selectedCollect?.photos" [src]="photo"
                    (error)="handleError($event)"
                    alt="Image de collecte"
                    class="focus:outline-none  h-20 object-cover w-20" />
            </div>
          </div>
          <div class="mb-4">
            <strong>Waste Type:</strong> {{ selectedCollect?.wasteType }}
          </div>
          <div class="mb-4">
            <strong>Status:</strong> {{ selectedCollect?.status }}
          </div>
          <div class="mb-4">
            <strong>Date:</strong> {{ selectedCollect?.date }}
          </div>
          <div class="mb-4">
            <strong>Address:</strong> {{ selectedCollect?.address?.city }}, {{ selectedCollect?.address?.zipecode }}
          </div>
          <div class="mb-4">
            <strong>Note:</strong> {{ selectedCollect?.note }}
          </div>
      
          <form [formGroup]="updateStatusForm ">
            <select 
              formControlName="status" 
              (change)="onStatusChange(selectedCollect!)" 
              class="bg-gray-200 text-black px-3 py-1 rounded-lg w-full text-center"
            >
                <option disabled value=""> modifier l'etat de la collecte</option>
                <option value="En attente">En attente</option>
                <option value="Occupée">Occupée</option>
                <option value="En cours">En cours</option>
                <option value="Validée">Validée</option>
                <option value="Rejetée">Rejetée</option>
            </select>
          </form>
          <!-- Close Button -->
          <button (click)="closePopup()" class="bg-gray-500 text-white px-4 py-2 rounded-lg mt-4 hover:bg-gray-700">Close</button>
        </div>
      </div>
      
  </div>
  